[Unit]
Description=Nango OAuth Server
After=network.target docker.service nango-db.service
Requires=docker.service
Wants=nango-db.service

[Service]
Type=simple
User=${SERVICE_USER}
Group=${SERVICE_USER}
WorkingDirectory=/home/ec2-user/nango
ExecStartPre=-/usr/bin/docker stop nango-server
ExecStartPre=-/usr/bin/docker rm nango-server
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/docker run --rm --name nango-server \
  --platform linux/amd64 \
  -e NANGO_DB_HOST=host.docker.internal \
  -e NANGO_DB_PORT=5435 \
  -e NANGO_DB_USER=nango \
  -e NANGO_DB_PASSWORD=nango \
  -e NANGO_DB_NAME=nango \
  -e NANGO_DB_SSL=false \
  -e SERVER_PORT=3003 \
  -e NANGO_SECRET_KEY=${NANGO_SECRET_KEY} \
  -e NANGO_ENCRYPTION_KEY=${NANGO_ENCRYPTION_KEY} \
  -e NANGO_SERVER_URL=${NANGO_SERVER_URL} \
  -e NANGO_DASHBOARD_USERNAME=admin@draftnrun.com \
  -e NANGO_DASHBOARD_PASSWORD=${NANGO_DASHBOARD_PASSWORD} \
  -e FLAG_AUTH_ENABLED=true \
  -e TELEMETRY=false \
  -p 3003:3003 \
  --add-host=host.docker.internal:host-gateway \
  nangohq/nango-server:hosted-0.69.22
ExecStop=/usr/bin/docker stop nango-server
StandardOutput=append:${LOG_DIR}/nango-server.log
StandardError=append:${LOG_DIR}/nango-server.log
Restart=always
RestartSec=10
Environment=DOCKER_HOST=unix:///var/run/docker.sock

[Install]
WantedBy=multi-user.target
