# editor
.vscode
!.vscode/settings.json
.DS_store
.coverage
.pytest_cache
.idea
.cursor
.claude/*

# virtual-env
venv
.venv/

# data
data
vectorstore
azure_files
docstore
images/*
monitoring
*.db
pipeline.json
*.csv
*.png
*.docx
config/seaweedfs/master_data
config/seaweedfs/volume_data
config/seaweedfs/filer_data
config/seaweedfs/s3_config.json
# .env
credentials.env
sql_credentials.env
custom_models.json

# .env files for ada_ingestion_system
ada_ingestion_system/.env

# cache
**__pycache__**
*checkpoint.ipynb

# logs
logs
traces

# notebook
notebooks/*
*.ipynb

# config files
data_ingestion/sql/sql_table_schema.json
gmail_api_credentials.json
knowledge_base_config.yaml
chatbot-config.yaml
company_context.yaml
conversational-interface.yaml
agent-config.yaml
observability_config.yaml
custom_models.json

# oauth
ada-ingestion-system/.env

# test reports
tests/external_api_calls/external_api_calls_matrix.md
