version: 1
disable_existing_loggers: False
directory: logs
filters:
    tracing_context:
        (): logger.TracingContextFilter
formatters:
    conditional_context:
        (): logger.ConditionalContextFormatter
handlers:
    console:
        class: logging.StreamHandler
        stream: ext://sys.stdout
        formatter: conditional_context
        level: INFO
        filters: [tracing_context]
    file:
        class: logging.FileHandler
        formatter: conditional_context
        filename: logs/server.log
        level: INFO
        filters: [tracing_context]
root:
    level: DEBUG
    handlers: [console, file]
loggers:
    ada_backend.utils.redis_client:
        level: DEBUG
        handlers: [console, file]
        propagate: no
    ada_backend.services.ingestion_task_service:
        level: DEBUG
        handlers: [console, file]
        propagate: no
    httpcore:
        level: WARNING
        handlers: [console, file]
        propagate: no
    hpack:
        level: WARNING
        handlers: [console, file]
        propagate: no
    httpx:
        level: INFO
        handlers: [console, file]
        propagate: no
    urllib3:
        level: INFO
        handlers: [console, file]
        propagate: no