apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ada-prod

resources:
  - ../base
  - namespace.yaml
  - middleware.yaml
  - ingress.yaml
  - nango-ingress.yaml

images:
  - name: ghcr.io/scopeo/draftnrun-api
    newTag: latest
  - name: ghcr.io/scopeo/draftnrun-worker
    newTag: latest
  - name: ghcr.io/scopeo/draftnrun-webhook-worker
    newTag: latest
  - name: ghcr.io/scopeo/draftnrun-scheduler
    newTag: latest

labels:
  - pairs:
      environment: prod
